.check{

  background-color: brown;
  padding-bottom: 5%;
  border-radius: 5%;
  color: black;
}
a:hover{
  color: red;
  background-origin: padding-box;

}
a:active{
  color: chartreuse;
}
h1::after{
  content: "🔥";
}
h1:hover{
  color: chartreuse;
}
h1::first-letter{
  color: darkred;
}