/* Home1.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f5f9;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container1 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
    
  font-size: 50px;
  color: #1e293b;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.links a:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}